@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Pacifico&display=swap');

body {
    font-family: Nanum Gothic;
    font-size: 20px;
    background-color: #eac9c1;
}
h1 {
    font-family: Pacifico;
    font-size: 100px;
    text-align: center;
    color: orchid;
}