@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nanum+Gothic&display=swap');

body {
    font-family: Nanum Gothic;
    font-size: 20px;
    background-color: #a4f9c8;
    margin: 120px;
}
h1 {
    font-family: Dancing Script;
    font-size: 100px;
    text-align: center;
    color: orchid;
}

h2 {
    font-family: Dancing Script;
    font-size: 40px;
    text-align: center;
    color: orchid;
}