@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Nanum+Gothic&display=swap');

body {
    background-color: #dce0d9;
}
.main-text {
    font-family: Nanum Gothic;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
}
#profile {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 20%;
  }

.heading {
    font-family: Dancing Script;
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom: 50px;
    color:orchid;
    text-align: center;
}
.red-text {
    color: #c62e65
}
#my-name {
    font-family: Dancing Script;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    color: orchid;
    text-align: center;
}
.screenshot {
    margin: 40px;
    width: 50%;
}
.main-content {
    max-width: 50%;
    color: #eBa6a9;
    align-items: center;
}
.dumb-content {
    align-items: center;
    margin: 20px;
}